.contact {
  &__form {
    padding: 0 3rem;
  }

  &__button {
    width: 100%;
    border: none;
    height: 6rem;
    font-size: 3rem;
    line-height: 111%;
    text-align: center;
    background-color: black;
    color: white;

    @media screen and (min-width: 750px) {
      height: 8rem;
      font-size: 4rem;
    }
  }
}
