.paragraph {
  font-size: 4.3rem;
  font-weight: 700;

  &--small {
    font-size: 3.1rem;
    font-weight: 500;
  }

  &--big {
    font-size: 1.8rem;
    font-weight: 700;
  }

  &--bigger {
    font-size: 4rem;
    font-weight: 900;
  }
}
