$black: #000000;
$white: #FFFFFF;

$pain-002: #FFEBEB;
$pain-003: #FFD7D7;
$pain-004: #FFC8C8;
$pain-005: #FFB6B6;
$pain-006: #FF8F8F;
$pain-007: #FF7A7A;
$pain-008: #FF5E5E;
$pain-009: #FF3A3A;
$pain-010: #FF2727;