:root {
  --black: #000000;
  --white: #ffffff;

  --pain-002: #ffebeb;
  --pain-003: #ffd7d7;
  --pain-004: #ffc8c8;
  --pain-005: #ffb6b6;
  --pain-006: #ff8f8f;
  --pain-007: #ff7a7a;
  --pain-008: #ff5e5e;
  --pain-009: #ff3a3a;
  --pain-010: #ff2727;
}
