.mainHeader {
  width: 100%;
  background-color: black;
  color: white;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 144rem;
    padding: 4rem 1.9rem;
    margin: 0 auto;
  }

  &__logo {
    font-size: 3rem;
    line-height: 111%;
    font-weight: 700;

    @media screen and (min-width: 1080px) {
      font-size: 4.6rem;
    }
  }
}
