.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--black);
  width: 100%;

  &:focus {
    outline: var(--pain-008) solid 4px;
  }

  &__icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .card {
    padding: 2rem 0;

    &__icon {
      display: flex;
    }
  }
}
