.contact {
  max-width: 50rem;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__title {
    font-size: 4rem;
    line-height: 111%;
    text-align: center;
  }
}
