.loginForm {
  &__form {
    width: 100%;
    height: 100%;

    background-color: #22202a;
    padding: 5rem;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    font-size: 3rem;
  }
  &__input {
    margin-bottom: 2rem;
  }
  &__label {
    color: white;
  }
  &__button {
    width: 100%;
    background-image: linear-gradient(#42a1ec, #0070c9);
    border: 1px solid #0077cc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
      Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 7px 15px;
    text-align: center;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;

    &:disabled {
      cursor: default;
      opacity: 0.3;
    }

    &:hover {
      background-image: linear-gradient(#51a9ee, #147bcd);
      border-color: #1482d0;
      text-decoration: none;
    }

    &:active {
      background-image: linear-gradient(#3d94d9, #0067b9);
      border-color: #006dbc;
      outline: none;
    }

    &:focus {
      box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
      outline: none;
    }
  }

  &__forgotPassword {
    &:link {
      color: #fff;
    }
    &:visited {
      color: rgb(101, 101, 101);
    }
    &:hover {
      color: rgb(180, 180, 180);
    }
    &:active {
      color: #fff;
    }
  }
}
